<div class="menu">
  <div class="wrapper">
    <p>Des musiciens trublions déjantés forts sympathiques!</p>
  </div>
<a class="page-link" href="{{ site.baseurl }}/">ACCUEIL</a>
{% for cur_page in site.pages %}
  {% if cur_page.title and cur_page.path contains 'menu' %}
    <a class="page-link" href="{{ cur_page.url | prepend: site.baseurl }}">{{ cur_page.title }}</a>
  {% endif %}
<!-- <a class="page-link" href="{{ site.dates }}">DATES</a>
<a class="page-link" href="{{ site.soundcloud_page }}">NOUS ECOUTER</a>
<a class="page-link" href="{{ site.medias }}">PHOTOS/VIDEOS</a> -->
{% endfor %}

{% if site.facebook_page %}
  <a class="page-link" href="{{ site.facebook_page }}"><img src="{{ my_page.url | prepend: site.baseurl }}/res/img/facebook-4.svg" /></a>
{% endif %}

{% if site.youtube_page %}
  <a class="page-link" href="{{ site.youtube_page }}"><img src="{{ my_page.url | prepend: site.baseurl }}/res/img/youtube-9.svg" /></a>
{% endif %}

{% if site.soundcloud_page %}
  <a class="page-link" href="{{ site.soundcloud_page }}"><img src="{{ my_page.url | prepend: site.baseurl }}/res/img/soundcloud-1.svg" /></a>
{% endif %}
</div>
